@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Karla', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.img-background{
  width: 100%;
  height: 100%;
  background-size: cover;
  /* filter: brightness(50%); */
  background-image: url("./img/coffee.jpg");
}